.header {
    background-color: rgb(59, 89, 152);
    height: 90px;
}

a {
    position: relative;
    top: 40%;
    left: 10%;
}

.form {
    position: absolute;
    right: 10%;
    top: 2%;
}

.submit {
    background-color: rgb(59, 89, 152);
    border: 1px solid rgb(83, 83, 83);
    font-weight: bold;
    color: honeydew;
    border-radius: 3px;
}

.text {
    border: 1px solid black;
    margin-right: 15px;
    line-height: 22px;
}

.infor {
    color: white;
    font-size: 13px;
}

.forgot {
    color: rgb(196, 192, 192);
    font-size: 12px;
}

.content {
    display: flex;
}
